<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>items_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{16,383},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,29},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,37},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,37},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,47},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{25,325},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{43,325},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,13}</string>
                <key>textureRect</key>
                <string>{{19,359},{16,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{1,368},{13,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,55},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{55,1},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,55},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,65},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,73},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,73},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,83},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,91},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,91},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{1,383},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,101},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,109},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{19,210},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,109},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,119},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,127},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,127},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,137},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,145},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,29},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,145},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{19,228},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{19,246},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,15}</string>
                <key>spriteSourceSize</key>
                <string>{6,15}</string>
                <key>textureRect</key>
                <string>{{19,282},{6,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,155},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,163},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,163},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,173},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,181},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,47},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,181},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,191},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{29,199},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{47,199},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,65},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,209},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,227},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,217},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,245},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,16}</string>
                <key>spriteSourceSize</key>
                <string>{4,16}</string>
                <key>textureRect</key>
                <string>{{19,299},{4,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1,352},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{1,335},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{16,401},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{45,217},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,235},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,83},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,263},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{45,235},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{28,374},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,16}</string>
                <key>spriteSourceSize</key>
                <string>{4,16}</string>
                <key>textureRect</key>
                <string>{{19,317},{4,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,253},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,281},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{37,342},{14,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{45,253},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{37,358},{14,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,271},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,101},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{45,271},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,119},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{19,264},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,289},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{45,289},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,299},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{25,307},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{43,307},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{19,155},{16,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{29,1},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{19,342},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{1,401},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,137},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{43,374},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{19,173},{16,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{19,201},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{28,389},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{28,404},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{43,389},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{43,404},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,317},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{19,191},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{64,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a79e3c971dbe7c59c18504f885e89f76:f56dfc86f35b7f8fe84c88d08279ca2c:9b2c40378ce3448cae3ca053079d3001$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
