<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mario_big_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{81,53},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{29,53},{18,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{30,17},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{59,17},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{87,17},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{116,17},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{131,53},{19,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{58,73},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mario_big_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{109,53},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mario_big_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{138,74},{20,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{145,17},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{197,75},{21,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{153,53},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,27}</string>
                <key>spriteSourceSize</key>
                <string>{14,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,27}</string>
                <key>spriteSourceSize</key>
                <string>{15,27}</string>
                <key>textureRect</key>
                <string>{{219,1},{15,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{173,17},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{201,18},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{1,34},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{30,35},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{59,35},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{182,54},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{211,54},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,27}</string>
                <key>spriteSourceSize</key>
                <string>{14,27}</string>
                <key>textureRect</key>
                <string>{{30,1},{14,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{1,70},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{88,35},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{117,35},{16,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{161,75},{20,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{29,73},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{81,74},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{59,1},{14,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{83,1},{14,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{226,75},{21,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,27}</string>
                <key>spriteSourceSize</key>
                <string>{14,27}</string>
                <key>textureRect</key>
                <string>{{103,1},{14,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,27}</string>
                <key>spriteSourceSize</key>
                <string>{15,27}</string>
                <key>textureRect</key>
                <string>{{1,17},{15,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{109,74},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{147,35},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{200,36},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{230,18},{16,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{175,35},{16,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{58,53},{18,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{1,52},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{229,36},{16,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,27}</string>
                <key>spriteSourceSize</key>
                <string>{14,27}</string>
                <key>textureRect</key>
                <string>{{132,1},{14,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,27}</string>
                <key>spriteSourceSize</key>
                <string>{14,27}</string>
                <key>textureRect</key>
                <string>{{161,1},{14,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mario_big_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,27}</string>
                <key>spriteSourceSize</key>
                <string>{14,27}</string>
                <key>textureRect</key>
                <string>{{190,1},{14,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mario_big.png</string>
            <key>size</key>
            <string>{255,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9844e8c6ba5c928d0631b00cf880603:99889febbb4e981bfa5b111097ffa7b2:6aaafd5cc94a02ae4b7d6ceddf2e4c1f$</string>
            <key>textureFileName</key>
            <string>mario_big.png</string>
        </dict>
    </dict>
</plist>
